basicsr>=1.4.2
numpy
opencv-python
Pillow
realesrgan
# [ComfyUI-Manager] skip black listed pip installation: 'torch>=1.7'
# [ComfyUI-Manager] skip black listed pip installation: 'torchvision'
#torch>=1.7
#torchvision
